*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: rgba(0, 149, 255, 1);
	color: #fff;
	font-family: sans-serif;
	line-height: 1.5;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

img {
	width: 100%;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.searching {
	width: 80%;
	padding: 1em;
	margin-bottom: 0.5em;
}

.form-group {
	width: 100%;
	display: flex;
	gap: 0.3em;
}

.form-group .search-input,
.form-group .btn {
	flex: 80%;
	padding: 0.6em 0.5em;
	border: none;
	outline: none;
	font-size: 1em;
	border-radius: 5px;
	background: rgb(7, 83, 107);
	color: #fff;
	cursor: pointer;
}

.form-group .btn {
	flex: 20%;
	color: #fff;
}

.form-group .search-input {
	padding: 0.6em 0.7em;
}

.form-group .search-input::placeholder {
	text-align: center;
	color: #fff;
}

/* results */
.results {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
	margin-bottom: 1em;
}

.result {
	border: 1px solid #ccc;
	width: 15em;
	border-radius: 10px;
	overflow: hidden;
	background: rgb(7, 83, 107);
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.result .tv-show-img {
	width: 100%;
	height: 16em;
	border-bottom: 1px solid #ccc;
}

.result .tv-show-about {
	padding: 1em 0.5em;
}

.result .tv-show-about .tv-show-title {
	font-size: 1.05em;
	padding-bottom: 0.3em;
}

@media screen and (max-width: 1068px) {
	.results {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.form-group {
		flex-direction: column;
	}

	.form-group .search-input {
		display: block;
		width: 100%;
	}

	.form-group .btn {
		width: 100%;
	}
	.results {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.results {
		grid-template-columns: 1fr;
		gap: 0.75em;
	}
}
